<footer>
    <div class="left">
        <div class="encabezado">
            <div class="logo"></div>
            <h3>Business + Creativity = Success </h3>
        </div>
        <ul class="minimal inline">
            <li>ファーストステップデザイン</li>
            <li>〒 490-1211</li>
            <li>愛知県あま市篠田長直し12</li>
            <li>tel. 052-414-7327</li>
        </ul>
    </div>
    <div class="center">
        <ul class="links minimal inline grid-2">
            <li><a href="#" title="#">
                <h2>
                    ABOUT US
                </h2>
                <p>ファーストステップとは</p>
            </a></li>
            <li><a href="#blog" title="#">
                <h2>
                    BLOG
                </h2>
                <p>ブログ一覧</p>
            </a></li>
            <li><a href="#services" title="#">
                <h2>
                    SERVICE
                </h2>
                <p>サービス紹介</p>
            </a></li>
            <li><a href="#productionFee" title="#">
                <h2>
                    PRICE
                </h2>
                <p>料金案内</p>
            </a></li>
            <li><a href="#works" title="#">
                <h2>
                    WORKS
                </h2>
                <p>実績の紹介</p>
            </a></li>
            <li><a href="#voice" title="#">
                <h2>
                    VOICE
                </h2>
                <p>料金案内</p>
            </a></li>
            <li><a href="#flow" title="#">
                <h2>
                    FLOW
                </h2>
                <p>制作の流れ</p>
            </a></li>
            <li><a href="#qa" title="#">
                <h2>
                    Q&A
                </h2>
                <p>よくある質問</p>
            </a></li>
        </ul>
    </div>
    <div class="right">
        <ul class="links minimal inline grid-2">
            <li>
                <a href="#" title="#">会社案内</a>
            </li>
            <li>
                <a href="#" title="#">お問い合わせ</a>
            </li>
            <li>
                <a href="#" title="#">会社概要</a>
            </li>
            <li>
                <a href="#" title="#">地図・アクセス</a>
            </li>
            <li>
                <a href="#" title="#">沿革</a>
            </li>
            <li>
                <a href="#" title="#">お知らせ</a>
            </li>
            <li>
                <a href="#" title="#">会社理念</a>
            </li>
            <li>
                <a href="#" title="#">サイトのご利用条件</a>
            </li>
            <li>
                <a href="#" title="#">代表挨拶</a>
            </li>
            <li>
                <a href="#" title="#">プライバシーポリシー</a>
            </li>
            <li>
                <a href="#" title="#">スタップ紹介</a>
            </li>
            <li>
                <a href="#" title="#">サイトマップ</a>
            </li>
        </ul>
    </div>

    <ul class="center icons fadeIn">
        <!-- Below chars "F", "I", "Y", "P" are just temporal. Waiting for real icons -->
        <li class="icon facebook"><a href="#" title="#"></a></li>
        <li class="icon instagram"><a href="#" title="#"></a></li>
        <li class="icon youtube"><a href="#" title="#"></a></li>
        <li class="icon pinterest"><a href="#" title="#"></a></li>
    </ul>
    <p class="center enterpriseName">© 2020 FIRST STEP DESIGN</p>
    <a href="#intro" id="goUp" class="icon-keyboard_arrow_left">
        <!-- <i></i> -->
    </a>
</footer>

</body>
</html>