<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <!-- OpenGraph SEO. Note that og:image, og:video, etc support multiple instances. The media will be transformed in an array for social networks -->
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://localhost:4000" /> <!-- Example -->
    <meta property="og:image" content="https://1step.com/assets/img/example.jpg" />
    <meta property="og:image:alt" content="Here you can put a description of the image" />
    <meta property="og:locale" content="ja_JP" />
    <!-- 
        This could be usefull in the future :)
        <meta property="og:video" content="" /> 
    -->
    <!-- Native SEO -->
    <meta name="robots" content="index, follow" />
    <meta name="description" content="{{ layout.description }}" />
    <meta name="keywords" content="web, development, design, programming, service" /> <!-- Useless for Google -->
    <!-- 
        Usefull for posts of the blog
        <meta name="author" content="author" />
    -->
    <!--
        Usefull for posts of the blog or any content with &copy
        <meta name="copyright" content="property" />
    -->
    <!-- Basic CSS -->
    <link rel="stylesheet" href="assets/css/main.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/header.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/sidebar.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/news.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/intro.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/services.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/works.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/aboutUs.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/productionFee.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/blog.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/flow.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/qa.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/contact.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/footer.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/compatibility.css" type="text/css" /> <!-- Here, we are loading legacy image formats -->
    <link rel="stylesheet" href="assets/css/button.css" type="text/css" />
    <!-- Icon pack -->
    <link rel="stylesheet" href="assets/css/icons.css" type="text/css" />
    <!-- Fonts CDNs (later it'll be merged with "chunk.css" and fonts stored locally, not in CDN ) -->
    <link rel="stylesheet" href="https://use.typekit.net/psc4ucl.css" /> <!-- Brandon Grotesque -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet"> 
</head>
<body class="js">