<header id="header">
    <div class="logo"></div>
    <div class="menu removeDesktop">
        <a class="row cf" onclick="toggleSidebar()">
            <div class="three col">
                <div id="hamburger" class="hamburger" style="padding-top: 5px">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </a>
    </div></div>
    <nav class="removeMobile">
        <ul class="minimal inline">
            <li class="active">
                <a href="#aboutUs" title="#">ABOUT US</a>
            </li>
            <li class="trigger">
                <a href="#services" title="#">SERVICE</a>
                <div class="megaMenu grid-3">
                    <div id="aboutUsImage" class="left image"></div>
                    <ul class="center minimal">
                        <li>
                            <a href="#">
                                <h2 class="en">WEBSITE PRODUCE</h2>
                                <h2>Webサイト制作</h2>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h2 class="en">WEBSITE SUPPORT</h2>
                                <h2>Webサイトサポート</h2>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h2 class="en">GRAPHIC PRODUCE</h2>
                                <h2>フラフィック制作</h2>
                            </a>
                        </li>
                    </ul>
                    <ul class="right minimal">
                        <li>
                            <a href="#">
                                <h2 class="en">LOGO DESIGN</h2>
                                <h2>ロゴデザイン</h2>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h2 class="en">CHARACTER / ILLUSTRATION</h2>
                                <h2>イラスト・キャラクター</h2>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h2 class="en">PHOTOGRAPHY</h2>
                                <h2>写真撮影</h2>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#works" title="#">WORKS</a>
            </li>
            <li>
                <a href="#flow" title="#">FLOW</a>
            </li>
            <li>
                <a href="#productionFee" title="#">PRICE</a>
            </li>
            <li class="trigger">
                <a href="#contact" title="#">COMPANY</a>
                <div class="megaMenu grid-3 last">
                    <div id="aboutUsImage" class="left image"></div>
                    <ul class="center minimal">
                        <li>
                            <a href="#">
                                <h2 class="en">COMPANY GUIDE</h2>
                                <h2>会社概要</h2>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h2 class="en">COMPANY PHILOSOPHY</h2>
                                <h2>会社理念</h2>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h2 class="en">HISTORY</h2>
                                <h2>沿革</h2>
                            </a>
                        </li>
                    </ul>
                    <ul class="right minimal">
                        <li>
                            <a href="#">
                                <h2 class="en">MESSAGE</h2>
                                <h2>代表者挨拶</h2>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h2 class="en">STAFF</h2>
                                <h2>スタッフ紹介</h2>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h2 class="en">ACCESS</h2>
                                <h2>アクセス</h2>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="noBorder" style="height: 50px">
                <a href="#" title="#" class="button header bright swipe slow">無料見積もり</a>
            </li>
        </ul>
    </nav>
</header>