header .removeMobile {
    display: none;
}

header .removeDesktop {
    display: block;
}


/* Hamburguer animation */


/* Hamburger padding set on html */

.hamburger .line {
    width: 47px;
    height: 2px;
    background-color: var(--mainColor);
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}


/* ONE */

#hamburger.active .line:nth-child(2) {
    opacity: 0;
}

#hamburger.active .line:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    -o-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
}

#hamburger.active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
}


/*  */

header {
    width: 100%;
    height: 132px;
    padding: 30px 30px 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: var(--animation-timing) ease-out;
}

header.formPage {
    height: auto;
    padding: 0;
    margin: 0 0 100px 0;
    position: relative;
}

header .noBorder:hover {
    border: none
}

header.alt {
    height: auto;
    padding: 10px 30px 10px 30px;
}

header.alt .logo {
    opacity: 0;
}

header .logo {
    /* width: 285px; */
    /* height: 58px; */
    width: 260px;
    height: 52px;
    margin-top: 3px;
    /* perfect vertical alignment with menu icon */
    background: url('../img/FirstLogo.svg') center / cover no-repeat;
    float: left;
    transition: var(--animation-timing) ease-out;
}

header .button.bright {
    min-width: auto;
}

header .menu {
    background: var(--bgColor);
    box-shadow: 0 5px 10px var(--shadow);
    font-size: 28px;
    line-height: 39px;
    color: var(--mainColor);
    text-align: center;
    width: 58px;
    height: 50px;
    position: fixed;
    top: 32px;
    right: 0;
    padding-top: 0px;
    border-radius: 6px 0px 0px 6px;
}

header .menu a {
    color: var(--mainColor);
}

header nav ul.inline {
    display: inline-block;
    float: none;
}

header nav ul li {
    display: inline-block;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0 30px 0 0;
    position: relative;
    border-bottom: 3px solid transparent;
    padding-bottom: 14px;
}

header nav ul li a {
    color: var(--planeColor);
    text-decoration: none;
    display: block;
}

header nav ul li:hover,
header nav ul li.active {
    border-bottom: 3px solid var(--planeColor);
}


/* header nav ul li:hover a.active {
    border-bottom: 5px solid transparent;
} */


/* Mega menu */

header nav ul li.trigger .megaMenu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.4s linear;
    width: 780px;
    /* 690px base + 60px (total) margin-left from column 2 & 3 + 30px margin-right from column 3 */
    height: 330px;
    /* margin-top: 30px; */
    /* display: none; */
    position: absolute;
    top: 70px;
    /* left: -345px; */
    left: calc( -292.5px - 70px);
    box-shadow: 0 0 20px var(--shadow);
    background: var(--bgColor);
}

header nav ul li.trigger .megaMenu.last {
    left: -520px;
}

header nav ul li.trigger .megaMenu::before {
    /* This is a big placeholder. In case the user has a shaking hand, this big div will prevent the exit of the Mega Menu, thanks to their massive size*/
    width: 780px;
    height: 50px;
    position: absolute;
    content: "";
    display: block;
    top: -50px;
    left: 0;
    /* 
        background: red;
        Just for debugging :)
     */
}

header nav ul li.trigger .megaMenu::after,
header nav ul li.trigger .megaMenu.last::after {
    width: 20px;
    height: 20px;
    background: var(--bgColor);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    content: "";
    display: block;
    margin-top: -10px;
    margin-left: 390px;
    z-index: -1;
}

header nav ul li.trigger .megaMenu.last::after {
    margin-left: 560px;
}

header nav ul li.trigger:hover .megaMenu {
    visibility: visible;
    opacity: 1;
}

header nav ul li.trigger .megaMenu h2.en {
    margin: 0 0 10px 0;
    font-size: 11px;
    font-family: 'Brandon Grotesque Bold', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

header nav ul li.trigger .megaMenu h2 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

header nav ul li.trigger .megaMenu.grid-3 .left.image {
    width: 290px;
    height: 100%;
    background: url('https://i.blogs.es/3beac3/getsmart-screen-still/450_1000.jpg') center / cover no-repeat;
}

header nav ul li.trigger .megaMenu.grid-3 .center,
header nav ul li.trigger .megaMenu.grid-3 .right {
    width: 200px;
    /* +10px because I need room for li:hover */
    margin: 50px 0 0 30px;
}

header nav ul li.trigger .megaMenu.grid-3 .right {
    margin: 50px 30px 0 0 !important;
}

header nav ul li.trigger .megaMenu ul li {
    width: calc(100% + 10px);
    transition: all var(--animation-timing) ease-out;
    margin: 0 0 50px 0;
    text-align: left;
    padding-bottom: 0;
    border-bottom: none;
}

header nav ul li.trigger .megaMenu ul li:hover {
    padding-left: 10px;
    border-bottom: none;
}


/*  */


/* @media (min-width: 1024px) {
    header {
        padding: 50px 50px 0 50px;
    }
} */

@media (min-width: 1280px) {
    header {
        padding: 50px 50px 0 50px;
    }
    header .removeMobile {
        display: table;
        float: right;
    }
    header .removeDesktop {
        display: none;
    }
    header nav {
        margin-top: 20px;
    }
    header.alt {
        background: var(--bgColor);
        box-shadow: 0 0 5px var(--shadow);
    }
    header.alt .logo {
        opacity: 1;
    }
    header .logo {
        margin-top: 10px;
        width: 285px;
        height: 58px;
    }
}