/* Home */
#intro {
    width: 100%;
    padding: 0;
    height: calc(100vh - 60px);
    margin: 0;
}
#intro .scroll {
    margin: 30px 0 0 -15px;
    font-size: 12px;
    display: inline-block;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    position: relative;
    display: none;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
}
#intro .scroll::before {
    width: 70px;
    height: 2px;
    background: var(--mainColor);
    position: absolute;
    bottom: 4px;
    left: 60px;
    content: "";
    display: block;
    animation: scrollAnimation 2s infinite ease-in-out;
}
@keyframes scrollAnimation {
    0% {
        width: 0;
        left: 60px;
    }
    25% {
        width: 15px;
    }
    80% {
        width: 70px;
    }
    100% {
        width: 0;
        border-left: 2px;
    }
}
#intro .left {
    width: calc(100% - 30px);
    /* height: 100%; */
    margin: calc(50vh - 95px) 0 0 0;
    float: left;
    background: var(--bgColor);
    opacity: .85;
    padding: 30px 30px 0 30px;
}
#intro .left p {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 500;
    color: var(--planeColor);
    margin: 0 0 20px 0;
    font-size: 16px;
}
#intro .left h1 {
    color: var(--mainColor);
    font-size: 28px;
    font-family: noto-sans-cjk-jp, sans-serif;
    font-weight: 700;
}
#intro .image {
    width: 75%;
    height: calc(100vh - 60px);
    float: right;
    background-image: url('../img/home/bg.webp');
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
@media (min-width: 520px) {
    #intro .left p {
        font-size: 20px;
    }
    #intro .left h1 {
        font-size: 32px;
    }
}
@media (min-width: 1024px) {
    #intro .scroll {
        display: inline-block;
    }
    #intro .left {
        width: 380px;
        margin: calc(50vh - 105px) 0 0 50px;
        background: none;
        opacity: 1;
        padding: 0;
    }
    #intro .left p {
        font-size: 16px;
    }
    #intro .left h1 {
        font-size: 32px;
    }
}