<section id="aboutUs">
    <div class="container center grid-2"> 
        <div class="image"></div>
        <!-- 'fadeIn' is a class for trigger 'fade-in' effect, in combination with 'isVisible' class -->
        <div class="right fadeIn">
            <h2 class="en">ABOUT US</h2>
            <h2>ファーストステップとは</h2>
            <p>
                テキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプル。
            </p>
            <button class="button default minimal">私たちについてをみる</button>
        </div>
    </div>
</section>