<section id="blog">
    <div class="image">
        <div class="left">
            <h2 class="en">BLOG</h2>
            <h2>好きな話を記事にしています。</h2>
            <p>
                テキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプル。
            </p>
        </div>
        <div class="right" style="position: relative;z-index: 89">
            <button class="button default minimal blue">ブログ一覧を見る</button>
        </div>
    </div>
    <!--  -->
    <div class="carouselWrapper">
        <div class="wrapper">
            
            <span class="flecha"></span>
            <span  class="flecha"></span>

            <div class="ccard">
                <h3 class="title">CATEGORY NAME</h3>
                <p class="details">
                    ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキ…
                </p>
                <div class="icono"></div>
            </div>
            <div class="ccard">
                <h3 class="title">CATEGORY NAME</h3>
                <p class="details">
                    ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキ…
                </p>
                <div class="icono"></div>
            </div>

            <div class="ccard">
                <h3 class="title">CATEGORY NAME</h3>
                <p class="details">
                    ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキ…
                </p>
                <div class="icono"></div>
            </div>

            <div class="ccard">
                <h3 class="title">CATEGORY NAME</h3>
                <p class="details">
                    ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキ…
                </p>
                <div class="icono"></div>
            </div>
            <div class="ccard">
                <h3 class="title">CATEGORY NAME</h3>
                <p class="details">
                    ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキ…
                </p>
                <div class="icono"></div>
            </div>
            <div class="ccard">
                <h3 class="title">CATEGORY NAME</h3>
                <p class="details">
                    ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキ…
                </p>
                <div class="icono"></div>
            </div>

            <div class="ccard">
                <h3 class="title">CATEGORY NAME</h3>
                <p class="details">
                    ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキ…
                </p>
                <div class="icono"></div>
            </div>

            <div class="ccard">
                <h3 class="title">CATEGORY NAME</h3>
                <p class="details">
                    ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキ…
                </p>
                <div class="icono"></div>
            </div>
            <div class="ccard">
                <h3 class="title">CATEGORY NAME</h3>
                <p class="details">
                    ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキ…
                </p>
                <div class="icono"></div>
            </div>

            <div class="ccard">
                <h3 class="title">CATEGORY NAME</h3>
                <p class="details">
                    ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキ…
                </p>
                <div class="icono"></div>
            </div>





        </div>
</section>