<section id="contact" class="fadeIn">
    <div class="center container">
        <div class="left">
            <h2 class="en">CONTACT</h2>
            <h2>
                伝えたいメッセージの<br />
                魅力を引き出すデザイン
            </h2>
        </div>
        <div class="right">
            <button class="button bright swipe icon email">お問い合わせ・無料見積もり</button>
            <div class="left">
                <h4>お電話でのお問い合わせ</h4>
            </div>
            <div class="right">
                <p>
                    <i class="icon-phone"></i>
                    <strong>052-414-7327</strong>
                </p>
            </div>
            <p class="legend">※受付時間は9:00〜18:00　定休日は土日（年末年始を除く）</p>
        </div>
    </div>
</section>