<section id="flow">
    <h2 class="en">FLOW</h2>
    <h2>
        自分の今は楽しく<br />
        歩もう
    </h2>
    <p>
        あなたのビジネスや活動をヒアリングした上で、企画や情報設計をはじめ、<br />
        効果のあるユニバーサルデザイン、時代に合った品質の良いWebサイト制作いたします。
    </p>
    <ul id="basicServices" class="grid-5 minimal inline"> <!-- grid-5 must be compatible with IE11-->
        <li class="contactUs">
            <div class="icon"></div>
            <h4 class="title">01.<br class="removeDesktop"> お問い合わせ</h4>
        </li>
        <li class="meeting">
            <div class="icon"></div>
            <h4 class="title">02.<br class="removeDesktop"> お打ち合わせ</h4>
        </li>
        <li class="planning">
            <div class="icon"></div>
            <h4 class="title">03.<br class="removeDesktop"> 企画立案&見積</h4>
        </li>
        <li class="contract">
            <div class="icon"></div>
            <h4 class="title">04.<br class="removeDesktop"> ご契約</h4>
        </li>
        <li class="topDesign">
            <div class="icon"></div>
            <h4 class="title">05.<br class="removeDesktop"> トップデザイン</h4>
        </li>
        <li class="lowerPageProduction">
            <div class="icon"></div>
            <h4 class="title">06.<br class="removeDesktop"> 下層ページ制作</h4>
        </li>
        <li class="siteConstruction">
            <div class="icon"></div>
            <h4 class="title">07.<br class="removeDesktop"> サイト構築</h4>
        </li>
        <li class="testUp">
            <div class="icon"></div>
            <h4 class="title">08.<br class="removeDesktop"> テストアップ</h4>
        </li>
        <li class="siteRelease">
            <div class="icon"></div>
            <h4 class="title">09.<br class="removeDesktop"> サイト公開</h4>
        </li>
        <li class="use">
            <div class="icon"></div>
            <h4 class="title">10.<br class="removeDesktop"> 運用</h4>
        </li>
    </ul>
    <button class="button default minimal center">ブログ一覧を見る</button>
</section>