<section id="news">
    <ul class="minimal inline pagenav">
        <li class="divider">NEWS</li>
        <li class="date">2021.01.10</li>
        <li class="last">本文が入ります本文が入ります本文が入ります本文が入ります本文が入ります</li>
    </ul>
    <ul class="minimal inline nav simple">
        <li class="prev">
            <i class="icon-keyboard_arrow_left"></i>
            <a href="#">PREV</a>
        </li>
        <li class="divider"></li>
        <li class="next">
            <a href="#">NEXT</a>
            <i class="icon-keyboard_arrow_right"></i>
        </li>
        <li class="menu">
            <a href="#">
                <i class="icon-list"></i>
            </a>
        </li>
    </ul>    
</section>