<section id="productionFee">
    <div class="container grid-2">
        <div class="image"></div>
        <!-- 'fadeIn' is a class for trigger 'fade-in' effect, in combination with 'isVisible' class -->
        <div class="left fadeIn">
            <h2 class="en">PRODUCTION FEE</h2>
            <h2>価格の魅力的な理由。</h2>
            <p>
                テキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプル。
            </p>
            <button class="button default minimal">ボタンテキスト</button>
        </div>
    </div>
</section>