<section id="qa">
    <ul class="minimal inline">
        <li class="voice">
            <div class="image">
                <p>VOICE</p>
                <h2>お客様の声</h2>
            </div>
            <div class="wrapper">
                <p class="text"> <!-- pos: absolute -->
                    末永くお客様に信頼されるために感謝の気持ちを忘れずに、これからもみなさまの信頼に応えられる会社を目指します。
                </p>
                <a class="icon readMore center"></a>
            </div>
        </li>
        <li class="qa">
            <div class="image">
                <p>Q&A</p>
                <h2>よくある質問</h2>
            </div>
            <div class="wrapper">
                <p class="text"> <!-- pos: absolute -->
                    お客様から寄せられたお問合せの一部とその回答を掲載しています。ご不明な点や、同じ不安を抱えていないかご確認ください。
                </p>
                <a class="icon readMore center"></a>
            </div>
        </li>
    </ul>
</section>