<section id="services">
    <h2 class="en center">SERVICE</h2>
    <h2 class="center">
        キレイなデザインは<br />
        当たり前のこと
    </h2>
    <p class="center">
        WEB制作・ホームページ制作が得意なデザイン会社です。<br />
        デザインが良いのは当たり前、戦略的なWEB制作や作ってからの運用を大事にしています。
    </p>
    <ul id="basicServices" class="container grid-6 minimal inline"> <!-- grid-6 must be compatible with IE11-->
        <li class="webDesign">
            <div class="icon center"></div>
            <p class="center details">ホームページ制作</p>
        </li>
        <li class="operationalSupport">
            <div class="icon center"></div>
            <p class="center details">運用サポート</p>
        </li>
        <li class="printMedia">
            <div class="icon center"></div>
            <p class="center details">印刷物媒体</p>
        </li>
        <li class="logoDesign">
            <div class="icon center"></div>
            <p class="center details">ロゴデザイン</p>
        </li>
        <li class="illustrationCharacter">
            <div class="icon center"></div>
            <p class="center details">イラストキャラクター</p>
        </li>
        <li class="photography">
            <div class="icon center"></div>
            <p class="center details">写真撮影</p>
        </li>
    </ul>
    <ul id="conclusionServices" class="container center grid-3 minimal inline">
        <li class="webDesign">
            <div class="image"></div>
            <h3 class="center title">ホームページ制作</h3>
            <p class="details">
                ホームページ等のウェブサイトをビジネスに活用することが当たり前となり、競合他社がひしめく現在のインターネット市場において、ウェブデザインは以前よりも重要性を増しています。
            </p>
        </li>
        <li class="updateAndSupport">
            <div class="image"></div>
            <h3 class="center title">更新・運用・サポート</h3>
            <p class="details">
                ホームページ開設後の保守・メンテナンス等をお手伝いさせて頂いております。 他社が制作したホームページのご相談もお待ちしております。
            </p>
        </li>
        <li class="graphicProduction last">
            <div class="image"></div>
            <h3 class="center title">グラフィック制作</h3>
            <p class="details">
                目的を達成し、成果を残す 本当の意味で高品質なデザインをアプローチの仕方や各印刷物媒体・ご予算などに応じて効果的なデザインをご提案します。
            </p>
        </li>
    </ul>
    <button class="button default minimal center">ボタンテキスト</button>
</section>