<div id="sidebar">
    <div class="grid-2">
        <div class="left">
            <ul class="minimal inline">
                <li>
                    <a href="#aboutUs" title="#" onclick="toggleSidebar()">ABOUT US</a>
                </li>
                <li>
                    <a href="#services" title="#" onclick="toggleSidebar()">SERVICE</a>
                </li>
                <li>
                    <a href="#works" title="#" onclick="toggleSidebar()">WORKS</a>
                </li>
            </ul>
            <div class="separator removeMobile"></div>
            <ul class="minimal inline">
                <li>
                    <a href="#flow" title="#" onclick="toggleSidebar()">FLOW</a>
                </li>
                <li>
                    <a href="#productionFee" title="#" onclick="toggleSidebar()">PRICE</a>
                </li>
                <li>
                    <a href="#contact" title="#" onclick="toggleSidebar()">COMPANY</a>
                </li>
            </ul>
        </div>
        
        <div class="image"></div>
    </div>
</div>