<div id="sidebar">
    <div class="logo"></div>
    <ul>
        <li>
            <a href="#aboutUs" title="#" onclick="toggleSidebar()">
                <strong>私たちとは</strong>
                <span>ABOUT US</span>
            </a>
        </li>
        <li class="subMenu">
            <a title="#" onclick="changeSidebarSubMenuStatus('Service');">
                <strong>サービス</strong>
                <span>SERVICE</span>
                <div id="iconService" class="subMenuIcon">+</div>
            </a>
            <ul id="subMenuService" style="display: none">
                <li>
                    <a href="#" onclick="toggleSidebar()">SERVICE TOP</a>
                </li>
                <li>
                    <a href="#" onclick="toggleSidebar()">WEB PRODUCE</a>
                </li>
                <li>
                    <a href="#" onclick="toggleSidebar()">WEB SUPPORT</a>
                </li>
                <li>
                    <a href="#" onclick="toggleSidebar()">GRAPHIC PRODUCE</a>
                </li>
                <li>
                    <a href="#" onclick="toggleSidebar()">LOGO PRODUCE</a>
                </li>
                <li>
                    <a href="#" onclick="toggleSidebar()">CHARACTER & ILLUSTRATION</a>
                </li>
                <li>
                    <a href="#" onclick="toggleSidebar()">PHOTOGRAPHY</a>
                </li>
            </ul>
        </li>
        <li>
            <a onclick="changeSidebarSubMenuStatus('Works');" href="#works" title="#">
                <strong>制作実績</strong>
                <span>WORKS</span>
            </a>
        </li>
        <li>
            <a onclick="toggleSidebar()" href="#flow" title="#">
                <strong>制作の流れ</strong>
                <span>FLOW</span>
            </a>
        </li>
        <li class="subMenu">
            <a href="#company" title="#" onclick="changeSidebarSubMenuStatus('Company');">
                <strong>会社概要</strong>
                <span>COMPANY</span>
                <div id="iconCompany" class="subMenuIcon">+</div>
            </a>
            <ul id="subMenuCompany" style="display: none">
                <li>
                    <a href="#" onclick="toggleSidebar()">COMPANY TOP</a>
                </li>
                <li>
                    <a href="#" onclick="toggleSidebar()">COMPANY OUTLINE</a>
                </li>
                <li>
                    <a href="#" onclick="toggleSidebar()">MESSAGE</a>
                </li>
                <li>
                    <a href="#" onclick="toggleSidebar()">COMPANY PHILOSOPHY</a>
                </li>
                <li>
                    <a href="#" onclick="toggleSidebar()">HISTORY</a>
                </li>
                <li>
                    <a href="#" onclick="toggleSidebar()">STAFF</a>
                </li>
                <li>
                    <a href="#" onclick="toggleSidebar()">ACCESS</a>
                </li>
            </ul>
        </li>
        <li>
            <a onclick="toggleSidebar()" href="#voice" title="#">
                <strong>お客様の声</strong>
                <span>VOICE</span>
            </a>
        </li>
        <li>
            <a onclick="toggleSidebar()" href="#blog" title="#">
                <strong>ブログ</strong>
                <span>BLOG</span>
            </a>
        </li>
        <li>
            <a onclick="toggleSidebar()" href="#price">
                <strong>料金</strong>
                <span>PRICE</span>
            </a>
        </li>
        <li>
            <a onclick="toggleSidebar()" href="#faq">
                <strong>よくある質問</strong>
                <span>FAQ</span>
            </a>
        </li>
        <li>
            <a onclick="toggleSidebar()" href="#news">
                <strong>お知らせ</strong>
                <span>NEWS</span>
            </a>
        </li>
    </ul>
    <hr>
    <button class="button blue">お問い合わせ・無料見積もり</button>
    <button class="button default">
        <i class="icon-phone"></i>
        052-414-7327
    </button>
    <p class="center">
        ※受付時間は9:00〜18:00<br/ >
        定休日は土日（年末年始を除く）
    </p>
    <ul class="subMenu footer">
        <li>
            <a href="#">サイトのご利用条件</a>
        </li>
        <li>
            <a href="#">プライバシーポリシー</a>
        </li>
        <li class="last">
            <a href="#">サイトマップ</a>
        </li>
    </ul>
</div>