<!-- <section id="works">
    <h2 class="en center">WORKS</h2>
    <h2 class="center">
        お客さまの成功は<br />
        僕らの自慢です
    </h2>
    <p class="center">
        ホームページ制作など、さまざまなお客様のネットビジネスのお手伝いをさせて頂いております<br />
        お客様とともに築いてきた実績、それが私たちの誇りです。
    </p>
    <div class="carouselWrapper">
        <ul class="minimal inline carouselWrapper">
            <li>
                <div class="wrapper">
                    <div class="image"></div>
                    <p class="details">EXAMPLE</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image"></div>
                    <p class="details">EXAMPLE</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image"></div>
                    <p class="details">EXAMPLE</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image"></div>
                    <p class="details">EXAMPLE</p>
                </div>
            </li>
        </ul>
    </div>
    <button class="button default minimal center">
        ボタンテキスト
    </button>
</section> -->

<section id="works">
    <h2 class="en center">WORKS</h2>
    <h2 class="center">
        お客さまの成功は<br />
        僕らの自慢です
    </h2>
    <p class="center">
        ホームページ制作など、さまざまなお客様のネットビジネスのお手伝いをさせて頂いております<br />
        お客様とともに築いてきた実績、それが私たちの誇りです。
    </p>
    <div class="carouselWrapper">
        <div class="wrapper">
            
            <span class="flecha"></span>
            <span  class="flecha"></span>

            <div class="ccard">
               <div class="image"></div>
               <h2>EXAMPE</h2>
            </div>


            
            <div class="ccard">
                <div class="image"></div>
               <h2>EXAMPE</h2>
            </div>


            
            <div class="ccard">
                <div class="image"></div>
                <h2>EXAMPE</h2>
            </div>

          
            <div class="ccard">
                <div class="image"></div>
                <h2>EXAMPE</h2>
            </div>
            
            
            <div class="ccard">
                <div class="image"></div>
                <h2>EXAMPE</h2>
            </div>

            <div class="ccard">
                <div class="image"></div>
                <h2>EXAMPE</h2>
            </div>

            <div class="ccard">
                <div class="image"></div>
                <h2>EXAMPE</h2>
            </div>

            <div class="ccard">
                <div class="image"></div>
                <h2>EXAMPE</h2>
            </div>
            <div class="ccard">
                <div class="image"></div>
                <h2>EXAMPE</h2>
            </div>




        </div>
        <button class="button default minimal center">
            ボタンテキスト
        </button>
</section>

