<div class="socialShare">
    <p><a href="#">
        <i class="icon-share"></i>
        SHARE
    </a></p>
    <ul>
        <li class="twitter">
            <i class="icon-twitter"></i>
        </li>
        <li class="facebook">
            <i class="icon-facebook"></i>
        </li>
        <li class="pocket">
            <i class="icon-pocket"></i>
        </li>
        <li class="green">
            <i class="icon-green"></i>
        </li>
        <li class="b">
            <i class="icon-b"></i>
        </li>
    </ul>
</div>