{% include news/wallpaper.html %}
<section id="news">
    <!-- Header of "NEWS LIST" -->
    <div class="header">
        <h2 class="en">NEWS LIST</h2>
        <div class="grid-2">
            <h2>お知らせ一覧</h2>
            <p>
                <a href="#" title="Suscribe to our RSS">RSS <i class="icon-rss"></i></a>
            </p>
        </div>
    </div>
    <!--  -->
    <ul id="newsList">
        <li class="news grid-2">
            <a href="#">
                <p class="date">2021.01.11</p>
                <p class="content">ニュースのタイトルテキストが入りますニュースのタイトルテキストが入りますニュースのタイトルテキストが入ります</p>
            </a>
        </li>
        <li class="news grid-2">
            <a href="#">
                <p class="date">2021.01.11</p>
                <p class="content">ニュースのタイトルテキストが入りますニュースのタイトルテキストが入りますニュースのタイトルテキストが入ります</p>
            </a>
        </li>
        <li class="news grid-2">
            <a href="#">
                <p class="date">2021.01.11</p>
                <p class="content">ニュースのタイトルテキストが入りますニュースのタイトルテキストが入りますニュースのタイトルテキストが入ります</p>
            </a>
        </li>
        <li class="news grid-2">
            <a href="#">
                <p class="date">2021.01.11</p>
                <p class="content">ニュースのタイトルテキストが入りますニュースのタイトルテキストが入りますニュースのタイトルテキストが入ります</p>
            </a>
        </li>
        <li class="news grid-2">
            <a href="#">
                <p class="date">2021.01.11</p>
                <p class="content">ニュースのタイトルテキストが入りますニュースのタイトルテキストが入りますニュースのタイトルテキストが入ります</p>
            </a>
        </li>
        <li class="news grid-2">
            <a href="#">
                <p class="date">2021.01.11</p>
                <p class="content">ニュースのタイトルテキストが入りますニュースのタイトルテキストが入りますニュースのタイトルテキストが入ります</p>
            </a>
        </li>
        <li class="news grid-2">
            <a href="#">
                <p class="date">2021.01.11</p>
                <p class="content">ニュースのタイトルテキストが入りますニュースのタイトルテキストが入りますニュースのタイトルテキストが入ります</p>
            </a>
        </li>
        <li class="news grid-2">
            <a href="#">
                <p class="date">2021.01.11</p>
                <p class="content">ニュースのタイトルテキストが入りますニュースのタイトルテキストが入りますニュースのタイトルテキストが入ります</p>
            </a>
        </li>
        <li class="news grid-2">
            <a href="#">
                <p class="date">2021.01.11</p>
                <p class="content">ニュースのタイトルテキストが入りますニュースのタイトルテキストが入りますニュースのタイトルテキストが入ります</p>
            </a>
        </li>
        <li class="news grid-2">
            <a href="#">
                <p class="date">2021.01.11</p>
                <p class="content">ニュースのタイトルテキストが入りますニュースのタイトルテキストが入りますニュースのタイトルテキストが入ります</p>
            </a>
        </li>
    </ul>
    {% include components/navigation.html %}
</section>