{% include news/wallpaper.html %}
<article>
    <p class="en">
        <time datetime="2021-01-11 20:00">2021.01.11</time>
    </p>
    <h2>タイトルが入りますタイトルが入りますタイトルが入りますタ イトルが入ります</h2>
    <p>
        本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト。
        本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト
    </p>
    <h3>見出し H3</h3>
    <p>
        本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト。
    </p>
    <h4>見出しH4</h4>
    <p>
        本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト。
    </p>
    <img src="https://images.pexels.com/photos/261662/pexels-photo-261662.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" width="70%" />
    {% include components/backToNews.html %}
    {% include components/socialShare.html %}
</article>